$color-primary: #554DDE;
$color-accent: #F44E77;
$color-secondary-dark: #16194F;
$color-bg: #101010;
$color-bg-2: #10121A;
$color-bg-3: #111111;
$color-lavender: #9A94FF;
$color-grey-light: #191919;
$color-grey-light-2: #1D1D1D;
$color-white: #FFFFFF;
$color-black: #000000;
$color-neutral: #F2F6FF;
$color-gradient-primary: linear-gradient(143.82deg, #a9a8ce 4.75%, rgba(104, 102, 141, 0) 61.12%);
$color-gradient-accent: linear-gradient(132.34deg, #c6acb2 -7.22%, rgba(139, 111, 118, 0) 77.9%);;
$color-gradient-primary-2: linear-gradient(171.21deg, #bdb9e7 -10.74%, #5b54e0 112.82%, #F44E77 112.82%);
$color-gradient-primary-3: linear-gradient(300.81deg, #4941de -17.99%, #bc98a1 111.32%, #F44E77 111.32%);
$color-gray: #6c757d;
$color-grey: #343a40;
$color-font: #a2a2a2;
$color-grey-1: #f8f9fa;
$color-grey-2: #e9ecef;
$color-grey-3: #dee2e6;
$color-grey-4: #ced4da;
$color-grey-5: #adb5bd;
$color-grey-6: #6c757d;
$color-grey-7: #495057;
$color-grey-8: #343a40;
$color-grey-9: #212529b7;

$transition: all .4s ease-in-out;
// Font Sizes
$font-sm: 1rem; // 14px
$font-med: 1.5rem; // 18px
$font-lg: 2.25rem;
$font-xlg: 3.25rem;
